@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts-3by.pages.dev/roboto-v32-latin/roboto-v32-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('https://fonts-3by.pages.dev/roboto-v32-latin/roboto-v32-latin-italic.woff2') format('woff2');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts-3by.pages.dev/roboto-v32-latin/roboto-v32-latin-500.woff2') format('woff2');
  }


:root{

    /*Colors */
    --darkGray-color :  hsl(240, 4%, 16%);
    --vividBlue-color : hsl(210, 81%, 40%);
}  

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--darkGray-color);
  color: white;
  font-family: 'Roboto', sans-serif;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a{
    color: white;
    text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button{
   height: 40px;
   padding: 7px 20px;
   border:none;
   border-radius: 10px;
}

header{
    /* height: 80px; */
    /* background-color:hsl(from  var(--darkGray-color) h s l / .5); */
    background-color: aqua;
    backdrop-filter: blur(10px);
    max-width: 1200px;
    position: relative;
    margin: 30px auto ;
    border-radius: 10px;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    position: sticky;
    top: 30px;
    padding: 5px 20px;
}

header nav .nav-part2{
    display: flex;
    gap: 20px;
    align-items: center;
}

header nav .nav-part2 ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav .nav-part2 ul li{
    padding: 7px 20px;
    overflow: hidden;
}

header nav .nav-part2 ul li a::after{
    content: " ";
    background-color: var(--vividBlue-color);
    position: absolute;
    top: 60%;
    /* left: 0%; */
    width: 10%;
    padding: 1px 2px;
}

